---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jesucristo es Rey - Centro de Adoración Familiar">
  <main class="h-screen bg-neutral-100 flex items-center justify-center">
    <h1 class="text-4xl font-bold">Hero</h1>
  </main>
</Layout>
